<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h4>Hi,{{new_subscriber.user.username}}</h4>
<p>Today stats :</p>
<p>Total cases: {{corona.cases}} </p>
<p>New cases:  {{corona.todayCases}} </p>
<p>Total deaths: {{corona.deaths}}</p> 
<p>New deaths: ' {{corona.todayDeath}} </p>
<p>Active cases: {{corona.active }}</p>
<p>Total recovered:  {{corona.recovered}} </p>
<p>Serious, critical cases: {{corona.critical }}</p>
<p>totalTests: {{corona.totalTests}}</p>
<p>Check the link: https://www.worldometers.info/coronavirus/</p>
<p>Thank you for subscribing to Covid-19 blog!</p>
<p>You will be receiving notifications on current stats of the pandemic in Kenya</p> 
<footer>
    <P>Regards,</P>
    <p>Barack</p>
</footer>
</body>
</html>